.BGGrade {
    width: 100%;
    background-image: linear-gradient(
        to right,
        #2883d2,
        #00daff /* #2883d2 #43bfc7 */
    );
}
.main-navigation__header-nav {
    display: none;
  }
  .nav-links {
    list-style: none;
    margin-top: 6vh;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    margin: 1rem;
  }
  
  .nav-links a {
    border: 1px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    background: #f8df00;
    border-color: #292929;
    color: #292929;
  }
  
  .nav-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  
  .nav-links button:focus {
    outline: none; 
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    color: white;
  }
.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }
.MediTechLogo {
    font-weight: 700;
    font-size: 27px;
    font-family: "Ubuntu", sans-serif;
}
.NavbarLinks {
    color: white;
    text-decoration: none;
    margin-right: 0.8rem;
    padding: 0.5rem;
    font-weight: 620;
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: block;
    }
  }